.container {
  max-width: 1200px;
  margin-top: 20px;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.filters {
  margin-bottom: 20px;
}

.table {
  border-radius: 8px;
  overflow: hidden;
}

.table thead {
  background-color: #f8f9fa;
}

.badge {
  font-size: 0.9rem;
  padding: 0.5em;
}

/* button {
  min-width: 70px;
} */
